[submodule "BayesAGraphSVA"]
	path = BayesAGraphSVA
	url = https://github.com/chrisquince/BayesAGraphSVA.git
[submodule "DESMAN"]
	path = DESMAN
	url = https://github.com/chrisquince/DESMAN.git
[submodule "SPAdes"]
	path = SPAdes
	url = https://github.com/snurk/spades.git
