[submodule "DESMAN"]
	path = DESMAN
	url = https://github.com/chrisquince/DESMAN.git
[submodule "SPAdes"]
	path = SPAdes
	url = https://github.com/snurk/spades.git
[submodule "BayesPaths"]
	path = BayesPaths
	url = https://github.com/chrisquince/BayesPaths.git
